page-home .fond_appli_accueil {
  
  position: absolute;
  bottom: 0;
  width : 100%;
  height: 75%;
 }

 page-home .block_logo {
   width : 100%;
   text-align : center;
   
   
 }

 page-home .block_logo img {
   width : 30%;
   margin-top : 8%;

  }


  
  

